---
layout: default
---
<header>
  <img style="float:left; padding-right:20px;" alt="Pigeon graphic. Source: https://commons.wikimedia.org/wiki/File:201907_DomesticPigeon.svg" src="assets/images/pigeon-logo.png" height=200px>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
  <p>&nbsp;</p>
  <!-- This non-breaking space controls the amount of space under the page title and needs to be adjusted based on how long the page subtitle ends up being so that the body copy doesn't start next to the picture. (Or does, if you want that.) -->
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}
